version: '3'

volumes:
  db:
    driver: local
    name: db
    driver_opts:
      type: none
      o: bind
      device: /home/qjungo/inception/data/db
  files:
    driver: local
    name: files
    driver_opts:
      type: none
      o: bind
      device: /home/qjungo/inception/data/files

networks:
  inception-network:
    name: inception-network
    driver: bridge

services:
  mariadb:
    container_name: mariadb
    build: requirements/mariadb
    restart: unless-stopped
    networks:
      - inception-network
    volumes:
      - db:/var/lib/mysql
    env_file:
      - .env

  wordpress:
    container_name: wordpress
    build: requirements/wordpress
    restart: unless-stopped
    networks:
      - inception-network
    depends_on:
      - mariadb
    volumes:
      - files:/var/www/html
    env_file:
      - .env

  nginx:
    container_name: nginx
    build: requirements/nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - inception-network
    depends_on:
      - wordpress
    volumes:
      - files:/var/www/html
